html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}


  body {
  background-color: #FFFFFF;
  font-family: avenir;
  font-size: 20px;
  color: #000000;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:auto;
    font-size: 16px;
}

.container {
}

.ios-container {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  position: relative;
  overflow-y:scroll;
  background-color: #ECEFF3
}

.status-bar {
  width: 360px;
  height: 24px;
}

.hamburger {
	padding-top: 7px;
	float: left;
	padding-left: 2px;
}

.title {
	padding-left:70px;
	padding-top:20px;
	padding-bottom: 10px;
	font-size:26px;
	background-color: #FFFFFF
}

.search {
	padding-top:10px;
	padding-left:35px;
	background-color: #FFFFFF
}

.list-table {
  width: 360px;
  height: 48px;
  margin-top: -4px;
  margin-right: 16px;
  background-color: #FFFFFF
}

.list-table-content {
}

.list-table li {
    display: inline-block;
    font-weight: 50;
}

.line-heading {
  margin-left: 25px;
  margin-top: 16px;
  font-size: 16px;
  vertical-align: bottom;
}

.frequency-heading {
  margin-top: 16px;
  padding-left: 44px;
  font-size: 16px;
  vertical-align: bottom;
}

.dest-heading {
  margin-right:50px;
  float: right;
  margin-top: 16px;
  font-size: 16px;
  vertical-align: bottom;
}


.direction {
  margin-left: 3px;
  padding-top: 1px;
  padding-bottom:5px;
  font-size: 15px;
  font-weight: 300;
}

.bus {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 500;
  height:56px;
  padding-top: 6px;
  display: inline-block;
}

.line {
  font-size: 20px;
  position: absolute;
  padding-left:5px;
  padding-bottom:1px;
  padding-top:5px;
  color: #000000;
}

.frequency {
  margin-right: 16px;
  margin-left: 27px;
  padding-top: 6px;
  display: inline-block;
  position: absolute;
  padding-left: 72px;
  float: right;
  font-size:17px;
}

.dest {
  margin-left: 36px;
  padding-top:9px;
  padding-left: 155px;
  position: absolute;
  color: #000000;
  display:inline-block;
  font-size: 13px;
}

.navypier {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.devon {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.stony {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.cottage-grove {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.madison {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.streeterville {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.Jpark {
	margin-left: 36px;
	padding-top:9px;
	padding-left: 155px;
	position: absolute;
	color: #000000;
	display:inline-block;
	font-size: 13px;
}

.resumes {
  padding-top:6px;
  padding-left: 75px;
  padding-top: 9px;
  position: absolute;
  color: #000000;
  display:inline-block;
  font-size: 12px;
}

{}
{}

hr {
  margin-left: 16px;
  margin-right: 16px;
  height: 1px;
  padding-top: .5px;
  padding-bottom: .5px;
  background: #000000;
}
